.formWrapper {
  min-height: 100vh;
  background: #9ff;
  color: #1f1f1f;
  padding-bottom: 1.5rem;
}

.error {
  color: red;
  text-align: center;
}

p.error {
  padding-block: 0.5rem;
}

@media screen and (max-width: 1200px) {}
